In [13]:
import pandas as pd
import numpy as np

In [14]:
tree_data = pd.read_csv('tree_data.csv')
tree_data.head()

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,2015-08-27T00:00:00,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900,New York,40.723092,-73.844215,1027431.148,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,2015-09-03T00:00:00,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1034455.701,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,2015-09-05T00:00:00,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.717581,-73.936608,1001822.831,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,2015-09-05T00:00:00,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900,New York,40.713537,-73.934456,1002420.358,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,2015-08-30T00:00:00,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,990913.775,182202.4260,39.0,165.0,3025654.0,3.010850e+09

In [17]:
#obtain desired columns
tree_data = tree_data[['postcode','spc_common','spc_latin','tree_dbh']]
#clean data
tree_data_drop = tree_data.dropna()
tree_data_clean = tree_data_drop.drop_duplicates()

tree_data_clean.head()

   postcode       spc_common                           spc_latin  tree_dbh
0     11375        red maple                         Acer rubrum         3
1     11357          pin oak                   Quercus palustris        21
2     11211      honeylocust  Gleditsia triacanthos var. inermis         3
3     11211      honeylocust  Gleditsia triacanthos var. inermis        10
4     11215  American linden                     Tilia americana        21

In [61]:
#obtain average tree diameter
tree_info = tree_data_clean.groupby(['postcode','spc_common'])
tree_diam = pd.DataFrame(tree_info['tree_dbh'].mean())

#obtain number of tree type in postcode

tree_quantity = pd.DataFrame(tree_data_clean.groupby(['postcode','spc_common']).size())

tree_summary = tree_quantity.join(tree_diam)
tree_summary

                                  0   tree_dbh
postcode spc_common
83       American beech           2   7.500000
         American elm            44  23.522727
         Callery pear             3   7.000000
         Chinese elm              3  21.333333
         Japanese zelkova        24  20.916667
         London planetree        10  11.100000
         Sophora                  2  11.000000
         ginkgo                  27  15.074074
         honeylocust              6  17.333333
         littleleaf linden        3   5.000000
         northern red oak         1   7.000000
         pin oak                 35  20.600000
10001    'Schubert' chokecherry   3   4.000000
         American elm            14  11.071429
         American hophornbeam     1   2.000000
         American linden          5   5.400000
         Amur maple               1   4.000000
         Callery pear            18  10.500000
         Chinese elm              1  14.000000
         English oak              1   4.000000
         European hornbeam        2   4.500000
         Japanese zelkova        13   8.230769
         Kentucky coffeetree      1   2.000000
         London planetree        13  15.230769
         Sophora                 15   9.000000
         bigtooth aspen           2   6.500000
         black oak                4   4.500000
         cherry                   1   4.000000
         common hackberry         5   5.800000
         dawn redwood             1   2.000000
...                              ..        ...
11694    pine                     7   7.428571
         purple-leaf plum         6   5.166667
         red horse chestnut       1   8.000000
         red maple               12   9.666667
         river birch              2   2.500000
         sawtooth oak             2   2.500000
         scarlet oak              1   3.000000
         serviceberry             4   2.500000
         shingle oak              2   2.500000
         silver linden            6   8.166667
         silver maple            16  23.375000
         smoketree                2   5.000000
         spruce                   1   2.000000
         sugar maple              8  14.250000
         swamp white oak          4   3.500000
         sweetgum                 3   7.666667
         sycamore maple           3  10.666667
         tree of heaven           2  11.000000
         trident maple            1   9.000000
         tulip-poplar             2   2.500000
         two-winged silverbell    1   3.000000
         weeping willow           2  15.500000
         white ash                9   8.111111
         white oak                6   6.166667
         white pine               2   3.500000
11697    London planetree         1  28.000000
         Siberian elm             1  32.000000
         ginkgo                   1   2.000000
         honeylocust              2   2.500000
         white pine               1   4.000000

[14441 rows x 2 columns]